@using System.Web.Mvc.Html
@using MVCMovie.Models
@model MVCMovie.Models.Condition

@section Scripts{
    @Scripts.Render("/js/Condition.js")
    @Scripts.Render("~/bundles/jqueryval")
}

<style>
    .alert{
		height: 25px;
        padding-top: 2px;
        padding-bottom: 2px;       
	}    
</style>

@using (Html.BeginForm(null, null, FormMethod.Post, new{@id="setCondForm"}))
{
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="h3" id="setCondition" data-id="@ViewBag.siteId"><strong>Search Conditions</strong></div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="col-md-4">
                    @Html.LabelFor(condition => condition.titleConds)
                </div>
                <div class="col-md-4">
                    @Html.LabelFor(condition => condition.title)
                </div>
            </div>
            <div class="col-md-6">
                <div class="col-md-4">
                    @Html.LabelFor(condition => condition.locationConds)
                </div>
                <div class="col-md-4">
                    @Html.LabelFor(condition => condition.location)
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="col-md-4">
                    <select class="form-control" id="titleConds" size="12" multiple></select>
                </div>
                <div class="col-md-4">
                    <div class="input-group input-group-sm">
                        @Html.EditorFor(model => model.title.titleCond, new { htmlAttributes = new { @class = "form-control", id = "title" } })
                        <br /><br />
                        <div class="btn-group-vertical">
                            <button class="btn btn-primary btn-xs" id="addTitle">Add</button><br />
                            <button class="btn btn-primary btn-xs" id="removTitle" type="button">Remove</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="alert" id="titleInputAlert" style="display: none">
                    </div>
                </div>
                <div class="col-md-4">
                    @Html.ValidationMessageFor(model => model.title.titleCond, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col-md-6">
                <div class="col-md-4">
                    <select class="form-control" id="locationConds" size="12" multiple></select>
                </div>
                <div class="col-md-4">
                    <div class="input-group input-group-sm">
                        @Html.EditorFor(model => model.location.locationCond, new { htmlAttributes = new { @class = "form-control", id = "location" } })                        
                        <br /><br />
                        <div class="btn-group-vertical">
                            <button class="btn btn-primary btn-xs" id="addLocation" type="button">Add</button><br />
                            <button class="btn btn-primary btn-xs" id="removLocation" type="button">Remove</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="alert" id="locationInputAlert" style="display: none">
                    </div>
                </div>
                <div class="col-md-4">
                    @Html.ValidationMessageFor(model => model.location.locationCond, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-12">
                <div><strong>Posting Time</strong></div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="checkbox">
                    <label><input type="checkbox" checked="checked" >Today</label>
                </div>
            </div>
            <div class="col-md-3">
                <div class="checkbox">
                    <label><input type="checkbox" > Yesterday </label>
                </div>
            </div>
            <div class="col-md-3">
                <div class="checkbox">
                    <label><input type="checkbox" > Last Week </label>
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-2">
                <input type="submit" class="btn btn-primary btn-sm" id="setCond" value="Save Conditions" />
            </div>
            <div class="col-md-2">
                <div class="alert" id="alertMsg" style="display: none">
                </div>
            </div>
        </div>
    </div>
}