@model MVCMovie.Models.Condition

@section Scripts{
    @Scripts.Render("/js/Condition.js")
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="h3" id="setCondition" data-id="@ViewBag.siteId"><strong>Search Conditions</strong></div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="col-md-4">
                @Html.LabelFor(Model=>Model.titleConds)
            </div>
            <div class="col-md-4">
                @Html.Label("New Title")
            </div>
        </div>
        <div class="col-md-6">
            <div class="col-md-4">
                @Html.LabelFor(Model => Model.locationConds)
            </div>
            <div class="col-md-4">
                @Html.Label("New Location")
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="col-md-4">
                <select class="form-control" id="titleConds" size="12"></select>
            </div>
            <div class="col-md-4">
                <div class="input-group input-group-sm">
                    <textarea id="title" class="form-control"></textarea><br /><br />
                    <div class="btn-group-vertical">
                        <button class="btn btn-primary btn-xs" id="addTitle">Add</button><br />
                        <button class="btn btn-primary btn-xs" id="removTitle">Remove</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="col-md-4">
                <select class="form-control" id="locationConds" size="12"></select>
            </div>
            <div class="col-md-4">
                <div class="input-group input-group-sm">
                    <textarea id="location" class="form-control"></textarea><br /><br />
                    <div class="btn-group-vertical">
                        <button class="btn btn-primary btn-xs" id="addLocation">Add</button><br />
                        <button class="btn btn-primary btn-xs" id="removLocation">Remove</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-12">
            <div><strong>Posting Time</strong></div>
        </div>

    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="checkbox">
                <label><input type="checkbox" checked="checked">Today</label>
            </div>
        </div>
        <div class="col-md-3">
            <div class="checkbox">
                <label><input type="checkbox"> Yesterday </label>
            </div>
        </div>
        <div class="col-md-3">
            <div class="checkbox">
                <label><input type="checkbox"> Last Week </label>
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-4">
            <button class="btn btn-primary btn-sm" id="setCond">Save Conditions</button>
        </div>
    </div>
</div>