@model MVCMovie.Models.RecruitingSite
@using MVCMovie.Resources;


    <div class="panel panel-default" >
        <div class="panel-heading">
            <h1 class="panel-title" id="selectPanel" data-id="@ViewBag.siteId"><b>Specify Elements for Auto Searching:</b></h1> 
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-4">
                    <div class="input-group">
                        <span class="input-group-addon">@Html.DisplayNameFor(model => model.JobPath)</span>
                        <textarea id="node1" class="form-control" data-toggle="tooltip" , title="@ElementSelector.Job1TipMsg" disabled></textarea>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="input-group">
                        <span class="input-group-addon">@Html.DisplayNameFor(model => model.Job2Path)</span>
                        <textarea id="node2" class="form-control" data-toggle="tooltip" , title="@ElementSelector.Job2TipMsg" disabled></textarea>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="input-group">
                        <span class="input-group-addon">@Html.DisplayNameFor(model => model.ListNextPositions)</span>
                        <textarea id="nextPage" class="form-control" data-toggle="tooltip" , title="@ElementSelector.NextTipMsg" disabled></textarea>
                    </div>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-4">
                    <div class="input-group">
                        <span class="input-group-addon">@Html.DisplayNameFor(model => model.companyPath)</span>
                        <textarea id="company" class="form-control" data-toggle="tooltip" , title="@ElementSelector.CompanyTipMsg" disabled></textarea>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="input-group">
                        <span class="input-group-addon">@Html.DisplayNameFor(model => model.othersPath)</span>
                        <textarea id="others" class="form-control" data-toggle="tooltip" , title="@ElementSelector.OthersTipMsg" disabled></textarea>
                    </div>
                </div>
                <div class="col-md-4">
                    <button id="clearAll" class="btn btn-primary">Clear All</button>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="checkbox">
                        <label><input type="checkbox" id="containLinks"> Contain job links in email</label>
                    </div>
                </div>
            </div>

            <fieldset disabled="disabled" id="locateJob1Link">
                <div class="row">
                    <div class="col-md-4">
                        <div class="input-group">
                            <span class="input-group-addon">Job1</span>
                            <textarea id="job1link" class="form-control" data-toggle="tooltip" , title="@ElementSelector.Job1LinkTipMsg"></textarea>
                        </div>
                    </div>
                    @*here must be col-md-8, othewise the button will not next the textarea.
                        The btn-primary will take care of the button width*@
                    <div class="col-md-8 buttonBox">
                        <div class="btn-group-vertical">
                            <button id="goUp" class="btn btn-primary btn-xs">Go up one level</button>
                            <button id="goDown" class="btn btn-primary btn-xs">Go down one level</button>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>

