@* Note: Use MVCMovie but not MvcMovie at the line below. Otherwise, RecruitingSite can not be found*@
@model MVCMovie.Models.RecruitingSite

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@section Scripts{
    @Scripts.Render("/js/SelectElement.js")
}

@section Styles{
    @Styles.Render("js/SelectElement.css")
}

@*iframe requests /browser/Index and gets the recruiting site content from the controller which 
    can be considered as an internal and secured content so that users are able to get information from the iframe*@
<iframe id="myframe" name="myframename" src="/browser/Index/@ViewBag.siteId" width="1200" height="400"></iframe>
<br/>
<br />
<div class="container">
    @Html.Partial("ElementSelector", Model)
    @Html.Partial("Condition", Model.condition)
    @Html.Partial("Email")
</div>

<div id="cntnr" class="dropdown clearfix">
    <ul id="items" class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu" style="display:block;position:static;margin-bottom:5px;">
        <li id="itemNode1"><a tabindex="-1" href="#">Job1</a></li>
        <li id="itemNode2"><a tabindex="-1" href="#">Job2</a></li>
        <li id="itemCompany"><a tabindex="-1" href="#">CompanyUnderJob1</a></li>
        <li id="itemOthers"><a tabindex="-1" href="#">OtherInfoUnderJob1</a></li>
        <li id="itemHLight"><a tabindex="-1" href="#">High Light All Jobs</a></li>
        <li class="divider"></li>
        <li id="itemNext"><a tabindex="-1" href="#">Next Page</a></li>
    </ul>
</div>


