@model IEnumerable<MvcMovie.Models.Movie>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">

    window.onerror = function (message, url, lineNo) {
        console.log('Error: ' + message + '\n' + 'Line Number: ' + lineNo);

        return true;
    }

    $(document).ready(function () {

        $("#urlbutton").on("click", function (event) {
            var url = { "url": $("#url").val() };

            var json = JSON.stringify(url);

            $.ajax({
                url: '/Browser/SetURL',
                data: json,
                type: 'POST',
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    // get the result and do some magic with it
                    //debugger;
                    $.ajax({
                        url: '/SeletElement',
                        type: 'GET',
                        //contentType: 'application/json; charset=utf-8',
                        success: function (data) {
                            // get the result and do some magic with it
                            var w = window.open();
                            w.document.open(data);
                            w.document.write(data);
                            w.document.close();
                        }
                    });
                }
            });
        });

        //Get all the websites
        var websites = [];
        $.ajax({
            type: "GET",
            url: "/Browser/GetUrls",
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (urls) {
                $(urls).each(function () {
                    var url = this.url;
                    var value = '<option>' + url + '</option>';
                    $('#website').append(value);
                });
            }
        });

        $('#website').click(function () {
            $('#url').val(this.value);
        });

    });

</script>

<style>
    .top2{
        margin-top:2%;
    }

</style>

<br />
<br />
<div class="h4"><strong>Your Favorite Job Seraching Websites:</strong></div>
<div class="row">
    <div class="col-xs-6">
        <div class="input-group">
            <span class="input-group-addon">URL</span>
            <input id="url" class="form-control input-sm" />
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-6">
        <select class="form-control top2" id="website" size="5"></select>
        <button class="btn btn-primary btn-sm top2" id="urlbutton">OpenBrowser</button>
    </div>
</div>

<br />
<br />    
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Genre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rating)
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReleaseDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Genre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rating)
        </td>

        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
