@model MVCMovie.Models.RecruitingSite
@using MVCMovie.Resources;
@using MVCMovie.Models;


@section Scripts{
    @Scripts.Render("/js/Home.js")
    @Scripts.Render("~/bundles/jqueryval")
}

@using (Html.BeginForm(null, null, FormMethod.Post, new { @id = "sitesForm" }))
{
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="h3"><strong>Favorite Job Hunting Websites:</strong></div>
        <div class="row">
            <div class="col-md-8">
                <div class="input-group input-group-sm">
                    <div class="input-group-btn">
                        <button type="button" class="btn btn-default" style="background-color: #eee; width: 100px">
                            @Html.DisplayNameFor(model => model.siteName)
                        </button>
                    </div>

                    @Html.TextBoxFor(model => model.siteName, new { @class = "form-control", id = "siteName", @data_bind = "value: selectedSiteName" })
                </div>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-md-8">
                <div class="input-group input-group-sm">
                    <div class="input-group-btn">
                        <button type="button" class="btn btn-default" style="background-color: #eee; width: 100px">
                            @Html.DisplayNameFor(model => model.url)
                        </button>
                    </div>
                    @Html.TextBoxFor(model => model.url, new { @class = "form-control", id = "url", @data_bind = "value: selectedSiteUrl" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                @Html.ValidationMessageFor(model => model.url, "", new { @class = "text-danger" })
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-md-8">
                <label>Existing Web Sites:</label>
                @Html.DropDownList("urls", new SelectList(new List<WebsiteViewModel>()), new
                   {
                        @class = "form-control",
                        id = "website",
                        size = "8",
                        data_toggle = "tooltip",
                        title = Home.StoredSites,
                        data_bind = "options: dropdownOptions, optionsText: 'text', optionsValue: 'index'"
                   })
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-2" data-toggle="tooltip" title="@Home.EnableButton">
                <a class="btn btn-primary btn-sm" id="openSite" data-bind="attr:{disabled: disableOpenSite, href: 'SeletElement/Index/' + selectedSiteId()}">
                    Open Site
                </a>
            </div>
            <div class=" col-sm-offset-3 col-md-3">
                <button class="btn btn-primary btn-sm" id="addSite">Add Site</button>
                &nbsp;
                <button class="btn btn-primary btn-sm" id="updateSite">Upate Site</button>
                &nbsp;
                <button class="btn btn-primary btn-sm" id="deleteSite">Delete Site</button>
            </div>
        </div>
        }
