@model MVCMovie.Models.RecruitingSite
@using MVCMovie.Resources;


@section Scripts{
    @Scripts.Render("/js/Home.js")
}

@using (Html.BeginForm(null, null, FormMethod.Post, new {@id = "sitesForm"}))
{
    <div class="h3"><strong>Favorite Job Hunting Websites:</strong></div>
    <div class="row">
        <div class="col-xs-8">
            <div class="input-group input-group-sm">
                @*<span class="input-group-addon">@Html.DisplayNameFor(model=>model.url)</span>*@
                <div class="input-group-btn">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown tooltip" title="@Home.RecommondSites"
                            aria-haspopup="true" aria-expanded="false" style="background-color: #eee;">
                        @Html.DisplayNameFor(model => model.url)
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-left" id="recomdSite">
                          <li><a href="#">@Common.TNet</a></li>
                        <li><a href="#">@Common.Monster</a></li>
                    </ul>
                </div>

                @Html.TextAreaFor(model=>model.url, new { @class="form-control", id="url",@data_bind="value: url"})
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-8">
            @Html.DropDownList("urls", (SelectList)@ViewBag.options, new { @class = "form-control", id = "website", size = "8", data_toggle = "tooltip", title = Home.StoredSites })
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-xs-2">
            <button class="btn btn-primary btn-sm" id="openSite">Open Site</button>
        </div>
        <div class="col-xs-2">
            <button class="btn btn-primary btn-sm" id="deleteSite">Delete Site</button>
        </div>
    </div>
}
